a {
	font-size: 15px;
}
#page {

	width: 1500px;
	height: 1300px;
	border: solid 1px black;

}
#header {

	width: 1450px;
	height: 120px;
	border: solid 1px blue;
}

#menu {
	font-family: 'Ubuntu', sans-serif;
  text-align: center;

	}

#menu p {
	width: 150px;
	height: 40px;
	display: inline-block;
	list-style: none;
	border: solid 1px red;
<<<<<<< HEAD
=======
	vertical-align: middle;
	font-size: 25px;
>>>>>>> daae0f4ba4e973379344176171d2ba45018244c7

	}

.logo {
  width: 100px;
  height: 100px;
}
footer {
	position: absolute;
	up: 100px;
}
#footer {
  height: 300px;
  background-color: grey;
  position: absolute;
	bottom: 100px;

}

#reseaux {

	display: inline-block;
	position: absolute;
	bottom: 100px;
	left:400px;
	border: solid 1px blue;
}

#txt {
  text-align: center;
}

.images_social {

width:50px;
height:50px;

}

#txt2 {
  background-color: red;
  position: relative;
  margin-left: 730px;
}

#txt3 {
  background-color: red;
  position: relative;
  margin-left: 730px;
}

#logo{
	float:left;
	padding: 10px 10px 10px 10px

}
