
#page {

	width: 1500px;
	height: 900px;
	border: solid 1px black;
		display: inline-block;

}
#header {

	width: 1450px;
	height: 100px;
	border: solid 1px blue;
	margin-left: 25px;
}

#menu {
	font-family: 'Ubuntu', sans-serif;
  text-align: center;

	}

#menu li {
	width: 100px;
	height: 30px;
	display: inline-block;
	list-style: none;
	border: solid 1px red;

	}

.logo {
  width: 100px;
  height: 100px;
}


#footer {
  height: 300px;
  background-color: grey;
  position: relative;
  margin-top: 538px;

}

#reseaux {
  position: relative;
  margin-top: -110px;
}

#txt {
  text-align: center;
}

.images_facebook {

width:50px;
height:50px;
position: relative;
margin-top:-10px;
}

#fb {
  position: relative;
  margin-left: 600px;
  margin-top: -10px;
}

.images_twitter {

width:40px;
height:40px;
position: relative;
margin-top: -10px;
}

#twi {
  position: relative;
  margin-left: 600px;
  margin-top: -10px;
}

.images_insta {

width:50px;
height:50px;
position: relative;
margin-top: -10px;
}


#ins {
  position: relative;
  margin-left: 600px;
  margin-top: -10px;
}

#txt2 {
  background-color: grey;
  position: relative;
  margin-left: 730px;
}

#txt3 {
  background-color: grey;
  position: relative;
  margin-left: 730px;
}

#txt4 {
  background-color: grey;
  position: relative;
  margin-left: 730px;
}
=======
#logo{
	float:left;
	padding: 10px 10px 10px 10px
>>>>>>> 994aa7f8533c67a1d7aeb6e95da02b2fa1056d3a
}
