<<<<<<< HEAD
#page {
	width: 1900px;
	height: 900px;
	border: solid 1px black;

}
#header {
	width: 1850px;
	height: 60px;
	border: solid 1px blue;
	margin-left: 25px;
}

#menu {
	padding: 0; margin: 0;
  text-align: center;
=======
>>>>>>> 37e4facb947ef2323b22b7af24db996ee6a42713
}

#menu li {
	display: inline;
	list-style: none;
}

#menu a {
	display:inline-block;
	margin: 0 30px;
}
