body {


}
#page {
  width: 1500px;
	height: 1500px;
  position: absolute;
	display: inline-block;
  font-family: 'Ubuntu', sans-serif;
}
#header {
	width: 1450px;
	height: 120px;
  position: absolute;
  left: 25px;
  display: inline-block;
}
.logo {
  width: 120px;
  height: 120px;
}
#logo{
  width: 120px;
  height: 120px;
}
#menu {
  width: 500px;
  height: 60px;
  text-align: center;
  position: absolute;
  top: 40px;
  right: 450px;
	}

#menu div {
	width: 150px;
	height: 40px;
	display: inline-block;
	font-size: 25px;
	}

  .color {
    color: #ef416a;
  }

  .colors {
    color: #990099;
  }

#cagnotte {
  width: 1400px;
  height: 1100px;
  position: absolute;
  top: 150px;
  left: 50px;
}

.mescagnottes {
  padding: 0px 100px 0px;
  font-size: 50px;
  color: #ef416a;

}

#cagnotte1 {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 150px;
  left: 100px;
  border: solid 2px black;
}
#cagnotte2 {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 150px;
  left: 550px;
border: solid 2px black;
}
#cagnotte3 {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 150px;
  right: 100px;
  border: solid 2px black;
}
#newcagnotte {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 650px;
  left: 100px;
  border: solid 2px black;
}
#newcagnotte img {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 25px;
  left:50px;
}

.creercagnotte {
  text-align: center;
  font-size: 20px;
  color: #ef416a;
}
#footer {
  width: 1450px;
  height: 300px;
  background-color: grey;
  position: absolute;
  top: 1200px;
  left: -25px;
}
#contact {
  width: 400px;
  height: 180px;
  position: absolute;
  top: 80px;
  left: 700px;
}
#reseaux {
  width: 300px;
  height: 100px;
  position: absolute;
  bottom: 0px;
  left: 10px;
  display: inline-block;
}
#reseaux p{
  width: 70px;
  display: inline-block;
}
.images_social {
  width: 50px;
  height: 50px;
}
